@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --amplify-primary-color: rgb(248,133,133);
  --amplify-primary-tint: rgb(248,133,133);
  --amplify-primary-shade: rgb(248,133,133);
}